@import "loader.sass"
@import "mobile.sass"

$width: 700px
$people-in-raw: 8

*
	margin: 0
	padding: 0
	font-family: "Roboto", Arial, sans-serif

body, html
	background: #d9e0e7

#root
	overflow: hidden

header
	width: 100%
	height: 60px
	background: #5161e8
	box-shadow: 0 2px 4px grey
	position: fixed
	z-index: 999999999
	top: 0
	left: 0
	right: 0

	.container
		width: $width
		margin: 0 auto

		nav
			float: left

		button
			float: right
			margin-top: 10px
			clear: none
			height: 40px


		a
			line-height: 60px
			height: 60px
			display: inline-block
			color: white
			text-transform: uppercase
			text-decoration: none
			padding: 0 10px
			font-weight: bold
			transition: color 0.3s ease-in

			&:hover
				color: #d8d8d8

	.settings
		float: left
		color: white
		text-transform: uppercase
		cursor: pointer
		width: auto

		h4
			line-height: 60px
			padding: 0 10px

		.settings-control
			display: none
			opacity: 0
			width: 300px
			height: 105px
			background: white
			box-shadow: 2px 2px 10px black
			box-sizing: border-box
			padding: 10px
			transition: opacity 0.4s linear

			input
				width: 100%
				height: 30px
				padding: 15px 10px
				box-sizing: border-box

			button
				width: 100%
				margin-top: 10px

		.settings-open
			display: block
			opacity: 1

main
	width: $width
	margin: 90px auto 0

	.queue
		width: $width
		background: white
		margin: 0 auto 30px
		padding: 15px
		border-radius: 2px
		box-shadow: 2px 2px 10px black
		overflow: hidden
		transition: all 0.5s
		box-sizing: border-box

		&:hover
			box-shadow: 0 0 15px black

		h2
			color: #303030
			font-size: 20px

		h3
			text-align: center
			margin: 15px 0

		.info-open
			max-height: 600px !important
			// transition: max-height 0.5s cubic-bezier(0, 1.05, 0, 1)
			transition: max-height 0.3s ease-in
			overflow: hidden

		.info
			max-height: 0
			transition: max-height 0.3s ease-in
			overflow: hidden

			.people
				margin-top: 30px
				text-align: center

				.lds-rolling
					width: $width/$people-in-raw !important
					height: $width/$people-in-raw !important

				.lds-rolling div,
				.lds-rolling div:after
					width: 50px !important
					height: 50px !important
					top: $width/2/$people-in-raw !important
					left: $width/2/$people-in-raw !important
					border: 10px solid #5161e8 !important
					border-top-color: transparent !important

				.place
					width: $width/$people-in-raw
					height: $width/$people-in-raw
					margin: 0 10px 10px
					background: #d9e0e7
					border-radius: 2px
					display: inline-block
					position: relative
					overflow: hidden

					&::after
						content: attr(data-id)
						position: absolute
						bottom: 5px
						right: 5px


					span
						color: grey
						font-weight: bold
						position: absolute
						right: 5px
						bottom: 5px

					img
						width: 75%
						height: 75%
						margin-top: 12.5%
						border-radius: 100%

				.free
					background: #d9e0e7 url(../images/avatar.png) no-repeat center

				.take-place
					background: #5161e8
					line-height: $width/$people-in-raw
					font-size: 30px
					color: white
					cursor: pointer
					border-radius: 2px
					border: 2px solid #5161e8
					box-sizing: border-box
					transition: all 0.2s linear

					&:hover
						color: #5161e8
						background: white

				.selected-place
					border: 2px solid rgb(209, 72, 54)
					cursor: pointer
					box-sizing: border-box

					&::before
						content: "x"
						width: 100%
						height: 100%
						position: absolute
						z-index: 999999
						background: rgba(0, 0, 0, 0)
						font-size: 30px
						color: transparent
						line-height: $width/$people-in-raw - 4px
						transition: background 0.2s ease-in

					&:hover::before
						color: white
						background: rgba(209, 72, 54, 1)

.btn
	width: 150px
	padding: 0 15px
	height: 40px
	display: table
	margin: 20px auto 0
	clear: both
	border: none
	background: #5161e8
	text-transform: uppercase
	color: white
	font-weight: bold
	font-size: 16px
	border-radius: 2px
	border: 2px solid #5161e8
	outline: none
	cursor: pointer
	transition: all 0.2s linear

	&:hover
		color: #5161e8
		background: white

input[type=text]
	width: 100%
	box-sizing: border-box
	padding: 0 10px
	border: 1px solid #373c43
	border-radius: 3px
	background: none
	outline: none
	height: 40px
	font-size: 14px
	margin-bottom: 20px

input[type=checkbox]
	width: 20px
	height: 20px
	margin-right: 20px
	float: left
	margin-bottom: 20px

.tab
	width: 100%
	margin-bottom: 2px
	overflow: hidden

	.title
		background: #5161e8
		color: white
		line-height: 40px
		height: 40px
		padding: 0 20px
		float: left
		width: 100%
		box-sizing: border-box
		cursor: pointer

		&:after
			content: "+"
			display: block
			color: white
			float: right
			font-weight: bold
			font-size: 25px
			line-height: 40px

	.content
		display: none
		border: 2px solid #5161e8
		padding: 20px
		background: white
		postition: relative
		overflow: hidden

		.react-calendar
			margin: 0 auto 20px

		.dd__wrapper
			margin-bottom: 20px

		.dd__list
			display: block !important
			position: relative !important

		.center-block
			text-align: center


		input[type=date],
		input[type=number]
			width: 30%
			text-align: center
			margin: 0 5px
			display: inline-block

	.content-open
		display: block
