$mobile-width: 90%

@media screen and (max-width: 720px)
	header
		.container
			width: $mobile-width !important

	main
		width: $mobile-width !important

		.queue
			width: 100% !important

			.people
				text-align: center

				.place
					margin: 0 5px 10px !important